@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(204, 127, 255);
}

body{
    background-image: url('../pacote-d013/imagens/fundo-madeira.jpg') ;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;

}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 525px;
    width: 311px;
    background-image: url('../pacote-d013/imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

    

iframe#tela{
    position: relative;
    display: block;
    width: 225px;
    height: 400px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


section#redes-sociais{
    text-align: right;
}

section#redes-sociais img:hover{
width: 60px;
border: 2px solid white;
box-sizing: border-box;
}

section#redes-sociais img{
    width: 50px;
    border-radius: 50%;
    margin: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.541);
    box-sizing: border-box;
}